	body.fazd #header {
		padding: 35px 5% 0;
	}	
	body.fazd #branding .searchform {
		top: -20px;	
	}
	body.fazd #footer .wrap {
		padding: .2em 1em 2em 1em;
	}
	.fazd-footer li {
		display: inline;
		float: left;
		padding-right: .5em;
	}