/* TVMDL-Specific Exceptions */

	body.tvmdlonly a{
		color:#8C5933;
		border-color: #8C5933;
	}

	body.tvmdlonly a:active,
	body.tvmdlonly a:hover {
		color: #674125;
		border-color: #674125;	
	}
	body.tvmdlonly.fazd a:active,
	body.tvmdlonly.fazd a:hover {
		color: #d42127;
		border-color: #d42127;	
	}

	body.home.tvmdlonly #home-middle .home-middle-features a .date {
		background: #8c5933;
		color: #fff;	
	}

	body.tvmdlonly.fazd #drop-section-nav {
		display: block;	
	}	
	.tvmdlonly #drop-section-nav #drop-nav ul li a.client-login {
		display: block;
		background-image: none;
		text-indent: 0;	
		background: rgba(0,0,0,.3);
		border-radius: 5px;
		padding: 5px 10px;
		height: auto;
		width: auto;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.tvmdlonly #drop-section-nav #drop-nav ul li a.client-login:hover {
		background: rgba(0,0,0,.5);
	}

	body.tvmdlonly #access ul.menu a {
		color:#8c5933;
		border-color: #8c5933;
	}

	body.tvmdlonly #access ul.menu a:hover,
	body.tvmdlonly #access ul.menu a:active {
		color: #674125;
		border-color: #674125;	
	}
	body.tvmdlonly.fazd #access ul.menu a:hover,
	body.tvmdlonly.fazd #access ul.menu a:active {
		color: #d42127;
		border-color: #d42127;	
	}
	
	#drop-section-nav #drop-nav ul li a[href*='tvmdl'] {
		background-image: url('images/tvmdl-logo.png');
		width: 90px;
	}

	body.tvmdlonly #drop-section-nav #drop-nav ul li a {
		opacity: 1;
	}	

	body.research.extension #drop-section-nav #drop-nav ul li a[href*='tvmdl'] {
		background-image: none;
		margin-top: 0;
		height: auto;
		opacity: 1;	
		width: 175px;
	}
