/* line 3, src/iefix.scss */
.oldie .site-title a {
  background-image: url("images/logo-w.png");
}
/* line 7, src/iefix.scss */
.oldie #agency-nav {
  top: -67px;
  left: 265px;
}
/* line 12, src/iefix.scss */
.oldie #access .sf-menu li a.sf-with-ul {
  padding: 0;
}
/* line 17, src/iefix.scss */
.oldie .utility-nav a,
.oldie .nav-general a {
  padding-left: .1em;
  padding-right: .1em;
}
/* line 23, src/iefix.scss */
.oldie .menu-nav-audience,
.oldie .menu-nav-general {
  margin-left: 0;
  margin-right: 0;
}

/* line 31, src/iefix.scss */
.ie7 #agency-nav {
  top: -100px;
}
/* line 34, src/iefix.scss */
.ie7 #content-wrap {
  padding-top: 0;
  background: #ffffff;
}
/* line 38, src/iefix.scss */
.ie7 #content-wrap .wrap {
  background: white;
  background-color: white;
  margin-top: 0;
  border-top: 30px solid #500000;
}
/* line 44, src/iefix.scss */
.ie7 #access ul.menu li {
  margin: 0;
  padding: 0 18px 0 0;
  float: left;
}
/* line 49, src/iefix.scss */
.ie7 #access ul.menu {
  float: left;
  background-color: #333333;
}
/* line 53, src/iefix.scss */
.ie7 .js #access {
  display: block;
  height: 40px;
  z-index: 99;
  width: 1004px;
  padding: 0 10px;
  background-color: blue;
}
/* line 61, src/iefix.scss */
.ie7 #access .sf-menu li {
  font-size: .8em;
  line-height: 2.8em;
  border: none;
}
/* line 66, src/iefix.scss */
.ie7 #access ul.menu li a {
  background: transparent;
  text-decoration: none;
  color: #fff;
  border: 0;
  padding: 0 0.5em;
}
/* line 74, src/iefix.scss */
.ie7 #access .sf-menu ul {
  position: absolute;
  background-color: #000;
  top: -999em;
  width: 14em;
}
/* line 80, src/iefix.scss */
.ie7 #access .sf-menu ul.sub-menu li {
  width: 100%;
  position: relative;
  z-index: 4;
  border: none;
  font-size: 12px;
  border-bottom: 1px dashed black;
  background: transparent;
  padding: 0;
  margin: 0;
  float: left;
  text-transform: uppercase;
  line-height: 2.8em;
}
/* line 94, src/iefix.scss */
.ie7 .utility-nav .menu-nav-audience {
  display: inline;
  float: left;
}
/* line 98, src/iefix.scss */
.ie7 .utility-nav .menu-nav-general {
  display: inline;
}
