/* Images ------------- */

#content img {

}
#content .attachment img {

}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft, 
#content img.alignright, 
#content img.aligncenter {
	margin-bottom: 20px;
}

#content img.alignleft {
	margin-right: 20px;
}
 
#content img.alignright {
	margin-left: 20px;
}

#content .wp-caption {	
	text-align: center;
	margin-bottom: 20px;
	font-style: italic;
	max-width: 100%;
	word-wrap: break-word;
}

#content .wp-caption.alignleft {	
	text-align: center;
	margin: 5px 20px 10px 6px;
}

#content .wp-caption a {	
	border: none;
}

#content .wp-caption img {
	max-width: 100%;
	margin: 5px 5px 0;
	height: auto;
}
#content .wp-caption p.wp-caption-text {
	margin: 5px;
	color: #888;
	font-size: 13px;
}
#content .wp-smiley {
	margin:0;
}
#content .gallery {
	margin: auto;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}

#content .gallery br+br {
	display: none;
}

img,video,object, iframe {
    max-width: 100%;
}

img {
    height: auto;
}

.feature-img-excerpt {
	float: left;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
}

.feature-img-excerpt:hover {
	opacity: .9;
	border: none;
}
