.college-department #department-title {
  background: #500000;
  h1,
  .department-name {
    font-size: 1.3em;
    padding: 0 2% 2% 0;
    color: white;
    margin: 0;
    font-weight: normal;
    line-height: 1.2em;
    clear: both;
  }
}

@media all and (min-width: $breakpoint-medium) {
  .college-department #department-title {
    h1, .department-name {
      font-size: 1.5em;
    }
  }
}

@media all and (min-width: $breakpoint-biggest) {

  .college-department #department-title {
    h1, .department-name {
      text-align: left;
      color: #500000;
      padding: 0;
      span {
        font-size: .5em;
        display: block;
        line-height: .5em;
      }
    }
    background: transparent;
    margin: 1.8em auto 0 auto;
    font-family: $ornate-title-font;
    font-weight: $ornate-title-font-weight;
  }

  .college-department {
    #wrapper {
      padding-top: 67px;
    }
    #department-title {
      h1, .department-name {
        font-size: 2.9em;
      }
    }

    &.agricultural-leadership-education-and-communications #department-title {
      h1, .department-name {
        font-size: 1.95em;
      }
    }

  }
}
