/* _content */

body.home #breadcrumbs {
	display: none;
}

.hentry {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}

body.home .hentry {
	margin-bottom: 0;
	padding-bottom: 0;
	clear: both;
}

body.home.blog .hentry {
	margin-bottom: 1em;
	padding-bottom: 1em;
}
.entry-meta {
	margin: 15px 0 25px;
	font-weight: 400;
	font-style: italic;
}

// post Styles
#content {
	.post h2,
	.post h2 a,
	.page h2,
	.page h2 a,
	.featured-wrap .entry-title,
	.featured-wrap .entry-title a {
		color: #B7A66D;
		clear: right;
		font-size: 1.1em;
		text-decoration: none;
	}
	.post h2 a:hover,
	.page h2 a:hover,
	.featured-wrap .entry-title a:hover {
		text-decoration: underline;
	}
}

#content ul {
	list-style: circle;
}

#content dl {
	font-size: 1em;
	line-height: 1.4em;
	margin: 0 0 .5em 0;
}

#content dd,
#content dt {
	margin-bottom: .5em;
}

#content dt {
	font-size: 1.2em;
	margin-top: .2em;
}

#content dl.attachments-large {
	border: none;
	border-bottom: 1px dashed #d2ca9c;
}

#content .hentry footer.entry-meta,
#content .hentry footer.entry-meta h2,
#content .hentry footer.entry-meta #entry-author-info,
#content .hentry footer.entry-meta .entry-utility  {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 1em;
}

#content .hentry footer.entry-meta h2 {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 1em;
}

.page-title {
	margin-bottom: 1em;
}

// Events 		------------------------------------------------------------

body.page h1.entry-title,
body.page .h1-entry-title {
	font-size: 2em;
	line-height: 1.2em;
	clear: both;
	margin: 0 0 .6em 0;
	font-family: $ornate-title-font;
	font-weight: $ornate-title-font-weight;
	color: #500000;
	text-transform: uppercase;
}


/* Columns CPT Events */

#tf_col_ev_date, th#tf_col_ev_cat {width:150px}
td.tf_col_ev_date em {color:gray;}
th#tf_col_ev_times {width:150px}
th#tf_col_ev_thumb {width:100px}

/* Metabox */

body.wp-admin .tf-meta {  }
body.wp-admin .tf-meta ul li { height: 20px; clear:both; margin: 0 0 15px 0;}
body.wp-admin .tf-meta ul li label { width: 100px; display:block; float:left; padding-top:4px; }
body.wp-admin .tf-meta ul li input { width:125px; display:block; float:left; }
body.wp-admin .tf-meta ul li em { width: 200px; display:block; float:left; color:gray; margin-left:10px; padding-top: 4px }

/* Topics */
.topic-row {

	.single-topic {
		margin-bottom: 35px;

		a {
			text-decoration: none;

			&:active {
				text-decoration: none;
			}
		}
	}

	.topic-name {
		margin: 5px 0;
	}

	.topic-desc {
		margin: 6px 0;
	}
}

@media all and (min-width: $breakpoint-biggest) {
	.topics {
		float: left;
		width: 98%;
	}

	.topic-list {
		float: left;
		width: 100%;
		margin-bottom: 10px;

		.single-topic {
			float: left;
			width: 30%;
			padding-right: 3%;
			// margin-bottom: 35px;
			border-bottom: none;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}

			h3 {
				margin-top: 0;
				margin-bottom: 8px;
				font-size: 1.3em;
			}

			.topic-description {
				margin-top: 0;
			}
		}
	}
}
