/* Layout */
#wrapper { 
	width: 100%;
	overflow: hidden;
	position: relative;
}
#header {
	display: block;
	padding: 2.5em 3%;
	overflow: hidden; /* Clearing float so you can see background color */
}
[role="document"]:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;		
}

[role="navigation"],
[role="document"],
#header {
	@include transition-property(all);
  	@include transition-duration(.25s);
  	@include transition-timing-function(ease-in);
}
[role="navigation"],
[role="document"] {		
	width: 90%;
	padding: 5%;
	display: block;	
	position: relative;
}
[role="complementary"] {		
	width: 100%;
	padding: 0%;
	display: block;	
	position: relative;
}
[role="document"] {		
	width: 90.2%; /* webkit browsers act weird with % */
}
.js [role="navigation"] {	
	margin-left: -100%;
	width: 70%;	
	float: left;
	z-index: 2;	
}
.js [role="document"] {
	margin-left: 0;
	float: right;
	z-index: 1;
	position: relative;
}
.js [role="complementary"] {	
	margin: 0;
	clear: both;
	z-index: 2;			
}	
.active-sidebar [role="navigation"] {	
	margin-left: 0;
	width: 69%;		
}
.active-sidebar [role="document"]{
	margin-right: -80%;
}

/* Header */
#site-title { 	
	position: relative;
	float: left;
	width: 31%;
	margin-left: 3%;
}
#site-title a { 	
	font-size: 0;
	display: block;
	width: 170px;
	height: 42px;
	color: transparent;
	background: transparent url('logo.png') no-repeat left top; 
}
/* Off Canvas/footer Anchor Navigation */
.off-canvas-nav-links ul {
	list-style: none;
}

.sidebar-button {
	padding: 1em;
	font-size: 14px;
	display: block;
	position: absolute;
	background: #7da12a;
	width: 25%;
	text-align: center;	
	color: #fff;
}

.sidebar-button {
	top: 50px;
	right: 3%;
}	

[role="navigation"] li a {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;		
	display: block;
}

@media all and (min-width: $breakpoint-biggest) {
	.no-js .menu-button {
		display: none;
	}
	.js .menu-button {
		display: none;
	}
	.js [role="document"],
	.js [role="navigation"],
	.js [role="contentinfo"] {
		width: $desktop-stage-width;
		margin: 0 auto;
		float: none;
		padding: 0;
	}
	
	.js [role="navigation"] {
		padding: 0;
		
	}

	#wrapper {
		
	}
					
}