@media print {
	body {
		background:none !important;
	}
	#wrapper {
		float: none !important;
		clear: both !important;
		display: block !important;
		position: relative !important;
        padding-top: 0;
	}
    #content-wrap,
    .wrap {
      background: none;
      margin-top: 0;
      padding-top: 0;
    }
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		margin: 0;
		padding:0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
    #footer,
    #aside,
    #drop-nav .search,
    #drop-nav .explore,
    #bg-image-container,
    #menu-button,
    .comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area,
    .menu-secondary,
    #drop-section-nav
    {
	  display: none !important;
	}
    .site-title{
      position: fixed;
      left: 0;
      display: none;
    }
    #agency-nav {
      position: fixed;
      left: 270px;
      top: 0;
      display: none;
    }
    .college-department #wrapper {
      padding-top: 0;
    }
    .college-department #department-title {
      margin: 0 auto;
      width: 100% !important;
    }
	#container,
	#header,
    .wrap #wrap {
		width: 100% !important;
		margin: 0 !important;
        float: none !important;
	}
	#content,
	.one-column #content {
		width: 100%;
		margin: 24pt 0 0;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display:none
	}
	#site-generator a {
		padding: 0;
	margin: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display:inline;
	}
	.home .sticky {
		border: none;
	}
    .js [role="document"] {
      width: 100% !important;

    }
    [role="navigation"],
    [role="document"] {
      padding: 0;
    }
}