/* =============================================================================
   Search Page
   ========================================================================== */


body.search div.entry-meta,
body.search div.entry-utility {
	display: none;
}

body.search h1.page-title{
	margin-bottom: 20px;
	font-style: italic;
	font-weight: 600;
}


/* =============================================================================
   Search Form
   ========================================================================== */

.s {
	width: 90%;
	padding: 8px 0px 8px 30px;
	background: #fff url('images/search.png') no-repeat 5px 45%;
	border-radius: 10px; 
	color: #999;
	border: 1px solid #ccc;
	@include box-shadow(inset 1px 1px 1px rgba(0,0,0,0.1));
}

.searchsubmit {
	@include hidden;	
}
#drop-nav .searchform {
	display: none;
	visibility: hidden;
}
@media all and (min-width: $breakpoint-biggest) {
	#access .searchform {
		@include hidden;
	}
	#drop-nav {
		.searchform {
			width: 100px;
			top: 2px;
			right: 0px;
			position: relative;
			z-index: 1;
			float: right;
			overflow: hidden;
			display: block;
			visibility: visible;
		}
		.s {
			padding: 8px 5px 8px 100px;
			width: 50px;
			@include transition-property(all);
			@include transition-duration(.5s);
			@include transition-timing-function(ease);
			background: transparent url('images/search2.png') no-repeat 10px 45%;
			border-radius: 0; 
			color: #999;
			border: 0;
			@include box-shadow(none);
			
			&:hover {
				background-color: #666;			
			}
			
			&:focus {
				width: 66px;
				padding: 8px 5px 8px 29px;
				background: white url('images/search2.png') no-repeat -55px 45%;
				/*padding: 8px 5px;
				background: transparent url('images/search2.png') no-repeat 5px 45%;
				background-color: #fafafa;	
				border-color: #2783e6;		*/				
			}
		}
	}
}