// Secondary Navigation Menus
$translucent-white: rgba(255,255,255,.5);

.menu-secondary {

	background-color: #9c7d0d;
	width: 100%;
	float: left;


	ul, li {
		float: left;
	}
	a {
		color: #fff;
		padding: 0.2em 0.3em;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
}

// @todo: move audience buttons to thumb areas for tablet (size and touch) users

@media all and (min-width: $breakpoint-biggest) {
	
	.menu-secondary {
		background-color: transparent;
		float: none;
		position: absolute;
		top: 82px;
		margin-left: 287px;
		width: 750px;
		ul {
			margin: 0 auto;
			padding: 0;
			text-align: center;
			display: table;
			overflow: hidden;
		}
		li {
			float: left;
			margin: 0 auto;
			padding: 2px;
			border: 1px solid rgba(0,0,0,0.4);
			list-style: none;
			width: 22%;
			& ~ li {
				margin-left: 20px;
			}
			&:hover {
				border: 1px solid rgba(0,0,0,0.6);
				@include transition-property(all);
  				@include transition-duration(.15s);
  				@include transition-timing-function(ease-in);
			}
		}

		a {
			font-size: .9em;
			line-height: 1.9em;
			text-align: center;
			color: white;
			padding: 3px;
			display: block;
			margin-right: 1px;
			background: rgba(0,0,0,0.4);
			height: 28px;
			width: 155px;
			text-decoration: none;
			&:hover {
				background: rgba(0,0,0,0.6);
				text-decoration: none;
				@include transition-property(all);
  				@include transition-duration(.15s);
  				@include transition-timing-function(ease-in);
			}
			
		}

	}
}