// Secondary Navigation Menus
$translucent-white: rgba(255,255,255,.5);

.menu-secondary {
	display: none;
}
#wrapper #access .menu-secondary {
	display: block;
	ul {
		padding: 0;
	}
}

@media all and (min-width: $breakpoint-biggest) {
	
	body.admin-bar .menu-secondary {
		top: 85px;
	}
	[role="navigation"] .menu-secondary li a {
		padding: 0px;
	}
	#wrapper #access .menu-secondary {
		display: none;
	}
	.college-department  #department-title {
		margin: 1.8em auto;
	}
	.menu-secondary {
		display: block;
		width: 1024px;
		margin: 0 auto;
		ul {
			margin: 0 0 0 285px;
			padding: 0;
			text-align: center;
			display: table;
			overflow: hidden;
		}
		li {
			float: left;
			margin: 0 auto;
			padding: 2px;
			border: 1px solid $translucent-white; //rgba(0,0,0,0.4);
			list-style: none;
			width: inherit;
			& ~ li {
				margin-left: 16px;
			}
			&:hover {
				border: 1px solid rgba(255,255,255,1);
				@include transition-property(all);
  				@include transition-duration(.15s);
  				@include transition-timing-function(ease-in);
			}
		}

		a {
			font-size: 1em;
			font-family: $ornate-title-font-alt;
			text-transform: $ornate-title-font-alt-transform;
			line-height: 2em;
			text-align: center;
			color: rgba(0,0,0,0.6); //white;
			display: block;
			margin-right: 1px;
			background: $translucent-white; //rgba(0,0,0,0.4);
			height: 35px;
			width: 165px;
			text-decoration: none;
			&:hover {
				background: rgba(255,255,255,1);
				color: #000;
				text-decoration: none;
				@include transition-property(all);
  				@include transition-duration(.15s);
  				@include transition-timing-function(ease-in);
			}
			
		}

	}
}