// Secondary Navigation Menus
$translucent-white: rgba(255,255,255,.5);

.menu-secondary {

	background-color: #9c7d0d;
	width: 100%;
	float: left;


	ul, li {
		float: left;
	}
	a {
		color: #fff;
		padding: 0.2em 0.3em;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
}

// @todo: move audience buttons to thumb areas for tablet (size and touch) users

@media all and (min-width: $breakpoint-biggest) {
	
	.menu-secondary {
		background-color: transparent;
		float: none;
		position: absolute;
		top: 67px;
		margin-left: 287px;
		width: 750px;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
			border: 1px solid $translucent-white;
			& ~ li {
				margin-left: 20px;
			}
			&:hover {
				border: 1px solid white;
				@include transition-property(all);
  				@include transition-duration(.15s);
  				@include transition-timing-function(ease-in);
			}
		}

		a {
			font-size: .9em;
			line-height: 1.9em;
			text-align: center;
			color: #000;
			padding: 3px 2px;
			display: block;
			margin: 3px 4px;
			background: $translucent-white;
			height: 28px;
			width: 155px;
			text-decoration: none;
			&:hover {
				background: #fff;
				color: #000;
				text-decoration: none;
				@include transition-property(all);
  				@include transition-duration(.15s);
  				@include transition-timing-function(ease-in);
			}
			
		}

	}
}