/**********************************************************

	Styles Users Might Use

	**********************************************************/
	
	.topics-list-ul li {
		font-family: verdana, clean, sans-serif;
		font-size: 13px;
		margin-left: 0;	
		padding: 1px 0;
	}
	.topics-list-ul li.topics-top-level-li {
		padding: 20px 0 20px 65px;
		font: 20px "ff-dagny-web-pro-1","ff-dagny-web-pro-2", 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
		border-bottom: 1px solid #e0dfd8;
		border-top: 1px solid #fff;
		position: relative;
	}
	
	.topics-list-ul li.topics-top-level-li img {
		position: absolute;
		top: 20px;
		left: 0px;
		padding: 4px;
		margin-bottom: 3%;
		background: #f0eee3;
		background: rgba(255,255,255,.55);
		border: none;
		border-top: 1px solid #fff;		
		-webkit-box-shadow: 0 1px 2px #d8d3ae;
		-moz-box-shadow: 0 1px 2px #d8d3ae;
		box-shodow: 0 1px 2px #d8d3ae;	
		width: 48px;
		height: 48px;
	}
	.topics-list-ul li.topics-top-level-li img:hover {
		background: #ecece3;
	}
	
	.topics-list-ul li.topics-top-level-li.first {
		border-top: none;
	}
	
	.topics-list-ul li.topics-top-level-li.last {
		border-bottom: none;
	}
	
	.topics-list-ul .topics-top-level-link {
		margin: 0 0 10px;
		display: block;
		border: none;
	}
	.topics-list-ul a.topics-top-level-link:hover {
		text-decoration: underline;
	}
	.topics-sub-li {
		display: inline;
		margin: 3px;
	}


	

	.button-wrap {
		border: 1px solid #752645;
		display: inline-block;
		margin: 5px;
	}

	.button {
		font-size: .9em;
		line-height: 1.9em;
		text-align: center;
		color: #000;
		padding: 5px 2px 3px 2px;
		display: block;
		margin: 3px 4px;
		background: rgba(255, 255, 255, 0.5);
		height: 28px;
		width: 155px;

		background: #5d0025;
		//border-color: #f00;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;

		@include box-shadow(inset 0px 25px 25px #752645, inset 0px 20px 2px rgba(240, 150, 69, .5));

		&:hover {
			text-decoration: none;
			color: #fff;
			//background: #fff;
			@include box-shadow( 2px 2px 4px rgba(0, 0, 0, .2), 0px 0px 3px rgba(0, 0, 0, .1), inset 0px 10px 12px #752645);
		}

		&.grey {
			background: #5f574f;
			@include box-shadow(inset 0px 25px 25px #686664, inset 0px 20px 2px rgba(255, 255, 255, .4));

			&:hover {
				//background-color: #500000;
				@include box-shadow( 2px 2px 4px rgba(0, 0, 0, .1), 0px 0px 3px rgba(0, 0, 0, .1), inset 0px 10px 12px #686664);
			}
		}

	}

	#content-wrap .callout {
		background-color: #f5f0e4;
		clear: both;
		width: 94%;
		padding: 3%;
		float: left;
		margin: 1.25em 0;

		h1, h2, h3, h4, h5 {
			font-size: 1.3em;
			color: #500000;
			margin: 0;
		}
		ul, ol {
			margin: 1.2em 0 1.2em 1em;
		}


		// callout buttons are always grey
		.button-wrap {
			border-color: #5f574f;
			@media all and (min-width: $breakpoint-biggest) {
				float: left;
			}
		}
		.button {
			float: left;
		}

		img {
			border: 5px solid #fff;
			@include box-shadow(2px 4px 8px rgba(0, 0, 0, 0.3));
		}
	}


	// For Tableau Embeds
	// http://amobil.se/2011/11/responsive-embeds/
	.embed-container {
	    position: relative;
	    padding-bottom: 80%; /* 16/9 ratio */
	    padding-top: 30px; /* IE6 workaround*/
	    height: 0;
	    //overflow: hidden;
	    overflow: scroll;
	}
	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	@media all and (min-width: $breakpoint-biggest) {
		
		.one-of-2 {
			width: 48%;
			clear: both;
			float: left;
			margin-bottom: 10px;
			padding-right: 2%;		
		}		
		.two-of-2 {
			width: 48%;
			float: left;	
			margin-bottom: 10px;
			padding-right: 2%;					
		}
		.two-of-2 ul, .one-of-2 ul,
		.one-of-3 ul, .two-of-3 ul, .three-of-3 ul {
			margin-left: 1em;		
		} 	
		.one-of-3 {
			width: 30%;
			clear: both;
			float: left;
			margin-bottom: 10px;
			padding-right: 2%;						
		}
			
		.two-of-3 {
			width: 30%;
			float: left;
			margin-bottom: 10px;
			padding-right: 2%;						
		}
		
		.three-of-3 {
			width: 30%;
			float: left;
			margin-bottom: 10px;
			padding-right: 2%;				
		}

	}

	
	
	/**********************************************************

	END - Styles Users Might Use

	**********************************************************/