.oldie {
	// Old IE does not like the stretching and squeezing we do for retina
	.site-title a {
		background-image: url('images/logo-w.png');
	}

	#agency-nav {
		top: -67px;
		left: 265px;
	}

	#access .sf-menu li a.sf-with-ul {
		padding: 0;
	}

	.utility-nav a,
	.nav-general a {
		padding-left: .1em;
		padding-right: .1em;
	}

	.menu-nav-audience,
	.menu-nav-general {
		margin-left: 0;
		margin-right: 0;
	}

}

.ie7 {
	#agency-nav {
	  top: -100px;
	}
	#content-wrap {
		padding-top: 0;
		background: #ffffff;
	}
	#content-wrap .wrap {
		background: white;
		background-color: white;
		margin-top: 0;
		border-top: 30px solid #500000;
	}
	#access ul.menu li {
		margin: 0;
		padding: 0 18px 0 0;
		float: left;
	}
	#access ul.menu {
		float: left;
		background-color: #333333;
	}
	.js #access {
		display: block;
		height: 40px;
		z-index: 99;
		width: 1004px;
		padding: 0 10px;
		background-color: blue;
	}
	#access .sf-menu li {
		font-size: .8em;
		line-height: 2.8em;
		border: none;
	}
	#access ul.menu li a {
		background: transparent;
		text-decoration: none;
		color: #fff;
		border: 0;
		padding: 0 0.5em;
		
	}
	#access .sf-menu ul {
		position: absolute;
		background-color: #000;
		top: -999em;
		width: 14em;
	}
	#access .sf-menu ul.sub-menu li {
		width: 100%;
		position: relative;
		z-index: 4;
		border: none;
		font-size: 12px;
		border-bottom: 1px dashed black;
		background: transparent;
		padding: 0;
		margin: 0;
		float: left;
		text-transform: uppercase;
		line-height: 2.8em;
	}
	.utility-nav .menu-nav-audience {
		display: inline;
		float: left;
	}
	.utility-nav .menu-nav-general {
		display: inline;
	}

}