/* --- County Sites --- */
/* line 2, ../src/agencies/_extension-county.scss */
.county-staff-list .staff-contact-details {
  width: 45%;
}

@media all and (min-width: 840px) {
  /* line 9, ../src/agencies/_extension-county.scss */
  body.extensioncounty #site-title,
  body.extensioncountytce #site-title {
    text-align: left;
    margin: 0;
    padding: 20px 0 0;
    height: 90px;
  }

  /* line 16, ../src/agencies/_extension-county.scss */
  body.extensioncounty #site-title a span,
  body.extensioncountytce #site-title a span {
    width: 390px;
  }

  /* line 20, ../src/agencies/_extension-county.scss */
  body.extensioncounty #site-title a,
  body.extensioncountytce #site-title a {
    background: url("images/tx.png") no-repeat left 7px;
    font-size: 32px;
    padding: 5px 0 60px 100px;
  }

  /* line 27, ../src/agencies/_extension-county.scss */
  body.extensioncounty #site-title a em,
  body.extensioncountytce #site-title a em {
    margin-left: 93px;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    position: relative;
    z-index: 999;
    padding-top: 5px;
  }
}
/* --- End County --- */
